<!-- The color="primary" attribute can be used, but we will override the color in CSS -->
<mat-toolbar class="navbar-custom">
  <!-- Left side: Logo and Title -->
  <button mat-button class="navbar-brand" routerLink="/">
    <mat-icon>article</mat-icon>
    <span>Examportal</span>
  </button>

  <!-- This spacer pushes the following items to the right -->
  <span class="spacer"></span>

  <!-- Right side: Links -->
  <!-- Show Login and Register buttons only when user is NOT logged in -->
  <ng-container *ngIf="!isLoggedIn">
    <button mat-button routerLink="/login" routerLinkActive="active-route">
      Login
    </button>
    <button mat-button routerLink="/signup" routerLinkActive="active-route">
      Register
    </button>
  </ng-container>

  <!-- Show Logout button only when user IS logged in -->
  <ng-container *ngIf="isLoggedIn">
    <button routerLink="/admin/profile" mat-button>
      <mat-icon>person</mat-icon>
      {{ currentUser?.username || "User" }}
    </button>
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </ng-container>
</mat-toolbar>
